In [1]:
import pandas as pd
import os

In [2]:
train = pd.read_csv("../raw/emotion-labels-train.csv")
val = pd.read_csv("../raw/emotion-labels-val.csv")
test = pd.read_csv("../raw/emotion-labels-test.csv")

In [3]:
train.head()

                                                text label
0  Just got back from seeing @GaryDelaney in Burs...   joy
1  Oh dear an evening of absolute hilarity I don'...   joy
2  Been waiting all week for this game ‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è #ch...   joy
3  @gardiner_love : Thank you so much, Gloria! Yo...   joy
4  I feel so blessed to work with the family that...   joy

In [4]:
val.head()

                                                text label
0  @theclobra lol I thought maybe, couldn't decid...   joy
1  Nawaz Sharif is getting more funnier than @kap...   joy
2  Nawaz Sharif is getting more funnier than @kap...   joy
3  @tomderivan73 üòÅ...I'll just people watch and e...   joy
4  I love my family so much #lucky #grateful #sma...   joy

In [5]:
test.head()

                                                text label
0  You must be knowing #blithe means (adj.)  Happ...   joy
1  Old saying 'A #smile shared is one gained for ...   joy
2  Bridget Jones' Baby was bloody hilarious üòÖ #Br...   joy
3  @Elaminova sparkling water makes your life spa...   joy
4  I'm tired of everybody telling me to chill out...   joy

In [6]:
data = pd.concat([train,val,test])

In [7]:
data.label.value_counts()

fear       2252
anger      1701
joy        1616
sadness    1533
Name: label, dtype: int64

In [8]:
prompt = "Predict the emotion of the text"
# data["prompt"] = prompt
# def preprocess_output(output):
#     return f"The text's emotion is {output}"
data["output"] = data["label"]
data["input"] = data.text.apply(lambda x: prompt + " | " + x)
data = data[["input","output"]]

In [9]:
data.head()

                                               input output
0  Predict the emotion of the text | Just got bac...    joy
1  Predict the emotion of the text | Oh dear an e...    joy
2  Predict the emotion of the text | Been waiting...    joy
3  Predict the emotion of the text | @gardiner_lo...    joy
4  Predict the emotion of the text | I feel so bl...    joy

In [10]:
data.to_csv("../interim/emotion.csv",index=False)