In [18]:
import os
import pandas as pd

# Restaurant_Reviews.tsv

In [19]:
data_path = "../raw/Restaurant_Reviews.tsv"
df = pd.read_csv(data_path,sep='\t')

In [20]:
df

                                                Review  Liked
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[1000 rows x 2 columns]

In [21]:
df.Liked.unique()

array([1, 0], dtype=int64)

In [22]:
prompt = "Predict the text's sentiment"
sentiments = ["Negative","Positive"]

In [23]:
df["prompt"] = prompt
df["output"] = df.Liked.apply(lambda x: sentiments[x])
df["text"] = df["Review"]

df = df[["prompt","text","output"]]

In [24]:
df.head()

,prompt,text,output
0,Predict the text's sentiment,Wow... Loved this place.,Positive
1,Predict the text's sentiment,Crust is not good.,Negative
2,Predict the text's sentiment,Not tasty and the texture was just nasty.,Negative
3,Predict the text's sentiment,Stopped by during the late May bank holiday of...,Positive
4,Predict the text's sentiment,The selection on the menu was great and so wer...,Positive

In [26]:
df.to_csv("../interim/Restaurant_Reviews.csv",index=False)

# Yelp Restaurant Reviews.csv

In [36]:
data_path = "../raw/Yelp Restaurant Reviews.csv"
df = pd.read_csv(data_path)

In [37]:
df

,Yelp URL,Rating,Date,Review Text
0,https://www.yelp.com/biz/sidney-dairy-barn-sidney,5,1/22/2022,All I can say is they have very good ice cream...
1,https://www.yelp.com/biz/sidney-dairy-barn-sidney,4,6/26/2022,Nice little local place for ice cream.My favor...
2,https://www.yelp.com/biz/sidney-dairy-barn-sidney,5,8/7/2021,A delicious treat on a hot day! Staff was very...
3,https://www.yelp.com/biz/sidney-dairy-barn-sidney,4,7/28/2016,This was great service and a fun crew! I got t...
4,https://www.yelp.com/biz/sidney-dairy-barn-sidney,5,6/23/2015,This is one of my favorite places to get ice c...
...,...,...,...,...
19891,https://www.yelp.com/biz/la-pasticceria-las-vegas,4,7/17/2021,Had the chocolate cannoli! The filling was ric...
19892,https://www.yelp.com/biz/la-pasticceria-las-vegas,4,10/21/2019,Love apricot croissant! I bought it at 4:00 PM...
19893,https://www.yelp.com/biz/la-pasticceria-las-vegas,4,10/12/2019,Line was about 25 people long. It went fast! T...
19894,https://www.yelp.com/biz/la-pasticceria-las-vegas,5,4/11/2021,Its hard not to order everything when I come h...
19895,https://www.yelp.com/biz/la-pasticceria-las-vegas,4,9/3/2019,Every mall needs an Eataly for real. La Pastic...

In [38]:
df.Rating.unique()

array([5, 4, 1, 2, 3], dtype=int64)

In [39]:
prompt = "From the text, how many is the rating score from 1 to 5"
def preprocess_output(rating_score):
    return f"The rating score is {rating_score}"

In [40]:
df["prompt"] = prompt
df["text"] = df["Review Text"]
df["output"] = df.Rating.apply(preprocess_output)

In [41]:
df = df[["prompt","text","output"]]

In [42]:
df.head()

,prompt,text,output
0,"From the text, how many is the rating score fr...",All I can say is they have very good ice cream...,The rating score is 5
1,"From the text, how many is the rating score fr...",Nice little local place for ice cream.My favor...,The rating score is 4
2,"From the text, how many is the rating score fr...",A delicious treat on a hot day! Staff was very...,The rating score is 5
3,"From the text, how many is the rating score fr...",This was great service and a fun crew! I got t...,The rating score is 4
4,"From the text, how many is the rating score fr...",This is one of my favorite places to get ice c...,The rating score is 5

In [43]:
df.to_csv("../interim/Yelp Restaurant Reviews.csv",index=False)