In [8]:
import os
import pandas as pd

# Restaurant_Reviews.tsv

In [9]:
data_path = "../raw/Restaurant_Reviews.tsv"
df = pd.read_csv(data_path,sep='\t')

In [10]:
df

                                                Review  Liked
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[1000 rows x 2 columns]

In [11]:
df.Liked.unique()

array([1, 0], dtype=int64)

In [12]:
prompt = "Predict the text's sentiment"
sentiments = ["negative","positive"]

In [13]:
# df["prompt"] = prompt
df["output"] = df.Liked.apply(lambda x: sentiments[x])
df["input"] = df["Review"].apply(lambda x: prompt + " | " + x)

df = df[["input","output"]]

In [14]:
df.head()

                                               input    output
0  Predict the text's sentiment | Wow... Loved th...  positive
1  Predict the text's sentiment | Crust is not good.  negative
2  Predict the text's sentiment | Not tasty and t...  negative
3  Predict the text's sentiment | Stopped by duri...  positive
4  Predict the text's sentiment | The selection o...  positive

In [15]:
df.to_csv("../interim/Restaurant_Reviews.csv",index=False)

# Yelp Restaurant Reviews.csv

In [16]:
data_path = "../raw/Yelp Restaurant Reviews.csv"
df = pd.read_csv(data_path)

In [17]:
df

,Yelp URL,Rating,Date,Review Text
0,https://www.yelp.com/biz/sidney-dairy-barn-sidney,5,1/22/2022,All I can say is they have very good ice cream...
1,https://www.yelp.com/biz/sidney-dairy-barn-sidney,4,6/26/2022,Nice little local place for ice cream.My favor...
2,https://www.yelp.com/biz/sidney-dairy-barn-sidney,5,8/7/2021,A delicious treat on a hot day! Staff was very...
3,https://www.yelp.com/biz/sidney-dairy-barn-sidney,4,7/28/2016,This was great service and a fun crew! I got t...
4,https://www.yelp.com/biz/sidney-dairy-barn-sidney,5,6/23/2015,This is one of my favorite places to get ice c...
...,...,...,...,...
19891,https://www.yelp.com/biz/la-pasticceria-las-vegas,4,7/17/2021,Had the chocolate cannoli! The filling was ric...
19892,https://www.yelp.com/biz/la-pasticceria-las-vegas,4,10/21/2019,Love apricot croissant! I bought it at 4:00 PM...
19893,https://www.yelp.com/biz/la-pasticceria-las-vegas,4,10/12/2019,Line was about 25 people long. It went fast! T...
19894,https://www.yelp.com/biz/la-pasticceria-las-vegas,5,4/11/2021,Its hard not to order everything when I come h...
19895,https://www.yelp.com/biz/la-pasticceria-las-vegas,4,9/3/2019,Every mall needs an Eataly for real. La Pastic...

In [18]:
df.Rating.unique()

array([5, 4, 1, 2, 3], dtype=int64)

In [67]:
prompt = "From the text, how many is the rating star from 1.0 to 5.0"
def preprocess_output(rating_score):
    return f"{rating_score}.0 out of 5 stars"

In [68]:
df["prompt"] = prompt
df["text"] = df["Review Text"]
df["output"] = df.Rating.apply(preprocess_output)

In [69]:
df = df[["prompt","text","output"]]

In [70]:
df.head()

,prompt,text,output
0,"From the text, how many is the rating star fro...",All I can say is they have very good ice cream...,5.0 out of 5 stars
1,"From the text, how many is the rating star fro...",Nice little local place for ice cream.My favor...,4.0 out of 5 stars
2,"From the text, how many is the rating star fro...",A delicious treat on a hot day! Staff was very...,5.0 out of 5 stars
3,"From the text, how many is the rating star fro...",This was great service and a fun crew! I got t...,4.0 out of 5 stars
4,"From the text, how many is the rating star fro...",This is one of my favorite places to get ice c...,5.0 out of 5 stars

In [71]:
df.to_csv("../interim/Yelp Restaurant Reviews.csv",index=False)

# amazonReview.csv

In [72]:
data_path = "../raw/amazonReview.csv"
df = pd.read_csv(data_path)

In [73]:
df.head()

,Reviewer name,title,Review body,Review rating,sentiment
0,Genuine buyer,Pros and cons,Great quality and the sound is actually great....,5.0 out of 5 stars,positive
1,CHETAN SHETTER,Never Expected in this price range... I Assure...,I've been using this from past 6 months. This ...,5.0 out of 5 stars,positive
2,Kiran Kumar M,"Bass bastler, Awesome HD quality sound, rockin...",Perfect bass and nice one. Superb sound and it...,5.0 out of 5 stars,positive
3,Raj Patel,Maybe buy boat basshead 100,Here is the review after 1 week of usePros:1.B...,4.0 out of 5 stars,positive
4,SANJAY KUMAR TIWARI,Superb head stereo better than leading brands.,Purchased after seeing review with suspicion t...,5.0 out of 5 stars,positive

In [74]:
df.sentiment.unique()

array(['positive', 'negative'], dtype=object)

In [75]:
df["Review rating"].unique()

array(['5.0 out of 5 stars', '4.0 out of 5 stars', nan,
       '3.0 out of 5 stars', '1.0 out of 5 stars', '2.0 out of 5 stars'],
      dtype=object)

In [76]:
df = df.dropna()

In [77]:
df["Review rating"].unique()

array(['5.0 out of 5 stars', '4.0 out of 5 stars', '3.0 out of 5 stars',
       '1.0 out of 5 stars', '2.0 out of 5 stars'], dtype=object)

In [78]:
prompt = "From the text, how many is the rating star from 1.0 to 5.0"

In [79]:
df["prompt"] = prompt
df["text"] = df["Review body"]
df["output"] = df["Review rating"]
df = df[["prompt","text","output"]]

In [80]:
df.head()

,prompt,text,output
0,"From the text, how many is the rating star fro...",Great quality and the sound is actually great....,5.0 out of 5 stars
1,"From the text, how many is the rating star fro...",I've been using this from past 6 months. This ...,5.0 out of 5 stars
2,"From the text, how many is the rating star fro...",Perfect bass and nice one. Superb sound and it...,5.0 out of 5 stars
3,"From the text, how many is the rating star fro...",Here is the review after 1 week of usePros:1.B...,4.0 out of 5 stars
4,"From the text, how many is the rating star fro...",Purchased after seeing review with suspicion t...,5.0 out of 5 stars

In [81]:
df.to_csv("../interim/amazonReview.csv",index=False)